:root {
    --main-green: #2CC779;
    --sub-green: #2CB871;
    --sub-green2: #2BB971;
}
body {
    width: 100vw; height: auto;
    display: flex; flex-direction: column;
    background-color: snow; margin: 0 auto;
    font-family: 'Lato', sans-serif; overflow-x: hidden;
} a { text-decoration: none;  color: inherit;}

header {
    width: inherit; min-height: 55vh;
    background-color: green; color: snow;
    background-image: url("https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0; text-align: center;
}

nav {
    width: 550px; height: 92px;
    background-color: var(--main-green);
    z-index: 1; border-right: 7px solid var(--sub-green);
}
nav a {
    padding: 5px;
}

.hl a {
    background-color: var(--main-green);
    padding: 1.2% 2%; border: 3px solid var(--sub-green);
}

#about, #ourwork, #contact, #bl{
    width: inherit; padding: 2% 0;
}
#about p {
    margin: 0 20%;
}
#about img {
    height: 250px;
    border-radius: 100%;
    border: 5px inset silver;
}
#bl, #fl {
    padding: 28px 0; font-size: 18px;
    background-color: var(--main-green);
}
#bl a, #fl a {
    color: snow; padding: 10px 14px; margin: 0 5px;
    background-color: var(--sub-green2);
}
input {
    height: 50px; width: 60%;
    border: none; border-radius: 2%;
    margin: 10px 0; margin-left: 5%;
    background-color: #E9E9E9; padding: 0 10px;
}
footer {
    background-color: var(--sub-green2);
    padding-bottom: 55px; color: snow;
}
.fl-b a { background-color: lightseagreen !important; }
.fl-r a { background-color: lightcoral !important; }
/*@media screen and (min-width: 550px) {
}*/
.t-g { color: var(--sub-green2); }
.wb {
    display: flex; flex-direction: row; flex-wrap: wrap;
    width: 88%; min-height: 400px;
    background-color: grey;
    margin: 0 auto;
}
.wb img {
    width: 99%; height: 99%;
}
.proj {
    width: 33%; height: 40%;
    margin: 0 auto; padding: .10% .1%;
}
.pr { display: none;}
.proj img:hover 